@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

body {
  text-align: center;
  background-size: cover;
  -webkit-animation: bodyBackground 4s linear infinite alternate both;
  animation: bodyBackground 4s linear infinite alternate both;
  color: rgb(0, 0, 0);
}

h1,
p {
  font-size: 25px;
  font-family: "Poppins";
}

@keyframes bodyBackground {
  0% {
    background: #caaf54;
  }
  100% {
    background: #fda085;
  }
}
