body {
    text-align: center;
    margin-top: 0;
    padding: 0;
    background-image: url("../assets/appBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
p {
    font-size: 24px;
    font-family: "Akaya Telivigala";
    text-align: center;
}